<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" href="assets/css/main.less">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <a href="#"><b>TOUR-GUIDE</b></a>
            <a href="/stories.html">Stories</a>
            <a href="#">Gallery</a>
            <a href="#">Features</a>
            <a href="#">Write to us</a>
        </div>
        <div class="container-2">
            <img src="assets/img/twitter-128.png" alt="">
            <img src="assets/img/facebook-128.png" alt="">
            <img src="assets/img/instagram-2-128.png" alt="">
            <img src="assets/img/youtube-128.png" alt="">
            <img src="assets/img/gmail-128.png" alt="">
            <img src="assets/img/menu.png" alt="">
        </div>
    </div>
    <section class="hero">
        <div class="container">
            <div class="back-img">
                <img src="assets/img/koster.jpg" alt="">
            </div>
            <div class="hero-content">
                <h1>Let's hit the road</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil corrupti, molestias laboriosam possimus esse deleniti nemo. Voluptatibus optio voluptate illo eligendi velit consectetur id laboriosam illum quasi, provident repudiandae accusantium.</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde itaque ipsam accusantium debitis, atque tempora perspiciatis et.
                </p>
                <button><b>START</b></button>
            </div>
        </div>
    </section>
    <section class="first">
        <div class="container">
            <div class="back-img">
                <img src="assets/img/koster.jpg" alt="">
            </div>
            <div class="first-content">
                <h2>Story</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil corrupti, molestias laboriosam possimus esse deleniti nemo. Voluptatibus optio voluptate illo eligendi velit consectetur id laboriosam illum quasi, provident repudiandae accusantium.Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Nihil corrupti, molestias laboriosam possimus esse deleniti nemo. Voluptatibus optio voluptate illo eligendi velit consectetur id laboriosam illum quasi, provident repudiandae accusantium.Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Nihil corrupti, molestias laboriosam possimus esse deleniti nemo. Voluptatibus optio voluptate illo eligendi velit consectetur id laboriosam illum quasi, provident repudiandae accusantium.
                </p>
                <button><b>MORE</b></button>
            </div>
        </div>
    </section>
    <section class="first">
        <div class="container">
            <div class="back-img">
                <img src="assets/img/koster.jpg" alt="">
            </div>
            <div class="first-content">
                <h2>Story</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil corrupti, molestias laboriosam possimus esse deleniti nemo. Voluptatibus optio voluptate illo eligendi velit consectetur id laboriosam illum quasi, provident repudiandae accusantium.Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Nihil corrupti, molestias laboriosam possimus esse deleniti nemo. Voluptatibus optio voluptate illo eligendi velit consectetur id laboriosam illum quasi, provident repudiandae accusantium.Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Nihil corrupti, molestias laboriosam possimus esse deleniti nemo. Voluptatibus optio voluptate illo eligendi velit consectetur id laboriosam illum quasi, provident repudiandae accusantium.
                </p>
                <button><b>MORE</b></button>
            </div>

        </div>
    </section>
    <section class="gallery">
        <p>Gallery</p>
        <div class="container">
            <div class="card">
                <div class="hov">
                    <h4>Title</h4>
                    <p>Nihil corrupti, molestias laboriosam possimus esse deleniti nemo.</p>
                    <button>MORE</button>
                </div>
                <img src="assets/img/1.jpg" alt="">
            </div>
            <div class="card">
                <div class="hov">
                    <h4>Title</h4>
                    <p>Nihil corrupti, molestias laboriosam possimus esse deleniti nemo.</p>
                    <button>MORE</button>
                </div>
                <img src="assets/img/2.jfif" alt="">
            </div>
            <div class="card">
                <div class="hov">
                    <h4>Title</h4>
                    <p>Nihil corrupti, molestias laboriosam possimus esse deleniti nemo.</p>
                    <button>MORE</button>
                </div>
                <img src="assets/img/3.jpg" alt="">
            </div>
            <div class="card">
                <div class="hov">
                    <h4>Title</h4>
                    <p>Nihil corrupti, molestias laboriosam possimus esse deleniti nemo.</p>
                    <button>MORE</button>
                </div>
                <img src="assets/img/koster.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="features">
        <p>Features</p>
        <div class="container">
            <div class="card">
                <img src="assets/img/airplane-48.png" alt="">
                <p>One</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid delectus doloremque perspiciatis culpa eius.</p>
            </div>
            <div class="card">
                <img src="assets/img/map_marker-48.png" alt="">
                <p>Two</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card">
                <img src="assets/img/movie-48.png" alt="">
                <p>Three</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid delectus doloremque perspiciatis culpa eius.</p>
            </div>
            <div class="card">
                <img src="assets/img/alarm_clock-48.png" alt="">
                <p>Four</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid delectus doloremque perspiciatis culpa eius.</p>
            </div>
            <div class="card">
                <img src="assets/img/face-48.png" alt="">
                <p>Five</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid delectus doloremque perspiciatis culpa eius.</p>
            </div>
            <div class="card">
                <img src="assets/img/genius-48.png" alt="">
                <p>Six</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid delectus doloremque perspiciatis culpa eius.</p>
            </div>
        </div>
    </section>
    <section class="write">
        <h2><b>Write to us</b></h2>
        <div class="cards">
            <div class="card">
                <p><b>Name:</b></p>
                <input type="text" name="" id="">
            </div>
            <div class="card">
                <p><b>Email:</b></p>
                <input type="text" name="" id="">
            </div>
            <div class="card">
                <p><b>Phone:</b></p>
                <input type="text" name="" id="">
            </div>
        </div>
        <b>Contact to via:</b>
        <input type="radio" name="0">Email
        <input type="radio" name="0">Phone
        <input type="radio" name="0">Telegram <br>
        <p><b>Topic:</b></p>
        <select>
            <option>Post my story</option>
            <option>Family</option>
            <option>Work</option>
            <option>Life</option>
        </select> <br>
        <p><b>Message:</b></p>
        <input type="text1"> <br>
        <input type="submit" value="SEND">
        <input type="checkbox" name="" id=""><b>I am a human </b>
    </section>
    <br>
    <hr>
    <div class="ending">
        <img src="assets/img/twitter-128.png" alt="">
        <img src="assets/img/facebook-128.png" alt="">
        <img src="assets/img/instagram-2-128.png" alt="">
        <img src="assets/img/youtube-128.png" alt="">
        <img src="assets/img/gmail-128.png" alt="">
        <p>UNTITLED 2019</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/less@4.1.1"></script>
</body>

</html>